/*
Problematic modules: {
    "skins.minerva.base.reset": "missing",
    "skins.minerva.content.styles": "missing",
    "mobile.app.pagestyles.android": "missing"
}
*/
/* CSS for Parsoid Cite extension */

.mw-ref-follow {
	display: none;
}

/* Upstream bug in stylelint makes it complain aboout the case of 'mw-Ref' */
/* stylelint-disable value-keyword-case */

/* With a group set */
.mw-ref a[ data-mw-group ]:after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, decimal ) ']';
}

/* Without a group */
.mw-ref a:after {
	content: '[' counter( mw-Ref, decimal ) ']';
}

/* Hide the default rendering in browsers that support content
 * generation by selecting for :after pseudo-element. */
/* stylelint-disable-next-line selector-type-no-unknown */
x-thereisnoelementwiththisname:after,
span.mw-reflink-text {
	display: none;
}

/* Style for linkbacks from <references> to <ref>s */
ol.mw-references {
	/**
	 * Resetting *any* counter on an <ol> element messes up the built-in numbering in Firefox.
	 * Explicitly resetting the built-in "list-item" counter fixes this.
	 *
	 * We have 2 counters for Parsoid HTML for different functionality.
	 * Make sure both are reset!
	 *
	 * NOTE: This rule is a duplicate of the one present in ext.cite.styles.css
	 * but duplicating it here ensures no matter how the rules and files are
	 * refactored and which rule ends up applying on the loaded doc, both
	 * counters continue to be incremented. As of now, the rule in ext.cite.styles.css
	 * is the one that seems to be winning.
	 **/
	counter-reset: mw-ref-extends-parent mw-references list-item;
}

ol.mw-references > li {
	/**
	 * We have 2 counters for Parsoid HTML for different functionality.
	 * Make sure both are incremented!
	 *
	 * NOTE: This rule is a duplicate of the one present in ext.cite.styles.css
	 * but duplicating it here ensures no matter how the rules and files are
	 * refactored and which rule ends up applying on the loaded doc, both
	 * counters continue to be incremented. As of now, the rule in ext.cite.styles.css
	 * is the one that seems to be winning.
	 **/
	counter-increment: mw-ref-extends-parent mw-references;
}

[ rel~='mw:referencedBy' ]:before {
	content: '↑ ';
}

span[ rel~='mw:referencedBy' ] {
	counter-reset: mw-ref-linkback -1;
}

span[ rel~='mw:referencedBy' ] a:before {
	counter-increment: mw-ref-linkback;
	content: counter( mw-references, decimal ) '.' counter( mw-ref-linkback, decimal );
	line-height: 1;
	vertical-align: super; /* <sup> use in Cite */
	font-size: smaller; /* <sup> use in Cite */
}

span[ rel~='mw:referencedBy' ] a:after {
	content: ' '; /* default separator outside <sup> */
	line-height: 1;
}

span[ rel~='mw:referencedBy' ] a:last-child:after {
	content: '';
}

/* Hide the default rendering in browsers that support content
 * generation by selecting for :after pseudo-element. */
/* stylelint-disable-next-line selector-type-no-unknown */
x-thereisnoelementwiththisname[ rel='mw:referencedBy' ]:before,
span.mw-linkback-text {
	display: none;
}

/* Previously, MediaWiki styled the warning class.
 * It no longer does this, so style cite warnings through mw-ext-cite-warning. */
.mw-ext-cite-warning {
	font-size: larger;
	color: #ac6600;
}
/*
MediaWiki:Common.css
*/
/* 所有皮肤的公共CSS */

/* 管理员注意！任何对Common.css的改变必须先在技术客栈讨论，谢谢。 */
/* .mw-parser-output内的样式调整请使用TemplateStyles */

/* Default styling for HTML elements */
cite,
dfn {
    font-style: inherit;  /* Reset default styling for <dfn> */
}

/*
== 参考区 ==
*/

/* Make the list of references smaller
 * Keep in sync with Template:Refbegin/styles.css
 * And Template:Reflist/styles.css
 */
ol.references,
div.reflist {
    font-size: 90%;            /* Default font-size */
    margin-bottom: 0.5em;
}
div.reflist ol.references{
    font-size: 100%;           /* Reset font-size when nested in div.reflist */
}
div.reflist ol.references, div.notelist ol.references {
    list-style-type: inherit;  /* Enable custom list style types */
}

/* .references-2column b/c */
div.references-2column {
    -moz-column-count: 2;
    column-count: 2;
    font-size: 90%;
}
div.references-2column ol.references,
div.references-2column div.reflist{
    font-size: 100%;
}

/* T156351: Support for Parsoid's Cite implementation */
a[rel="mw:referencedBy"]::before {
    font-weight: bold;
    content: "^";
}
span[rel="mw:referencedBy"] > a::before {
    font-weight: bold;
    content: counter( mw-references, decimal ) '.' counter( mw-ref-linkback, decimal );
}
span[rel="mw:referencedBy"]::before {
    content: "^ ";
}
.mw-ref > a[data-mw-group=upper-roman]::after {
    content: '[' counter( mw-Ref, upper-roman ) ']';
}
.mw-ref > a[data-mw-group=lower-greek]::after {
    content: '[' counter( mw-Ref, lower-greek ) ']';
}
.mw-ref > a[data-mw-group=lower-roman]::after {
    content: '[' counter( mw-Ref, lower-roman ) ']';
}
.mw-ref > a[data-mw-group=lower-alpha]::after {
    content: '[' counter( mw-Ref, lower-alpha ) ']';
}
.mw-ref > a[data-mw-group=upper-alpha]::after {
    content: '[' counter( mw-Ref, upper-alpha ) ']';
}

/* Reduce page jumps by hiding collapsed/dismissed content */
.client-js .mw-special-Watchlist #watchlist-message,
.client-js .collapsible:not( .mw-made-collapsible).collapsed > tbody > tr:not(:first-child),

/* Avoid FOUC/reflows on collapsed elements. */
/* This copies MediaWiki's solution for T42812 to apply to innercollapse/outercollapse (T325115). */
/* TODO: Use :is() selector at some reasonable future when support is good for Most Clients */
/* Reference: https://gerrit.wikimedia.org/g/mediawiki/core/+/ecda06cb2aef55b77c4b4d7ecda492d634419ead/resources/src/jquery/jquery.makeCollapsible.styles.less#75 */
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) > p,
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) > table,
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) > thead + tbody,
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) tr:not( :first-child ),
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) .mw-collapsible-content,

/* Reset top margin for lists embedded in columns */
div.columns {
    margin-top: 0.3em;
}
div.columns dl,
div.columns ol,
div.columns ul {
    margin-top: 0;
}

/* Avoid list items from breaking between columns */
div.columns li,
div.columns dd dd {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

/* Prevent line breaks in silly places:
   1) Where desired
   2) Links when we don't want them to
   3) Bold "links" to the page itself
   4) HTML formulae
   5) Ref tags with group names <ref group="Note"> --> "[Note 1]"
*/
.nowrap,
.nowraplinks a,
.nowraplinks .selflink,
span.texhtml,
sup.reference a {
    white-space: nowrap;
}

/* In the case where non-CJK links are joined with CJK punctuations
   (thus no space after punctuations), browsers tend to disallow link wrap
   around those punctuations (see diff=37708459). Insert an empty pseudo-
   element with standard wrapping to work around this. */
.nowraplinks a:before,
.nowraplinks .selflink:before {
    content: " ";
    font-size: 0;
    white-space: normal;
}

/* However if there is a manual nowrap, do not ignore it. */
.nowraplinks .nowrap a:before,
.nowraplinks .nowrap .selflink:before {
    white-space: nowrap;
}

/* Style for horizontal lists (separator following item) */

.hlist dl,
.hlist ol,
.hlist ul {
    margin: 0;
}
.hlist dd,
.hlist dt,
.hlist li {
    display: inline;
    margin: 0;
}
/* Display nested lists inline */
.hlist.inline,
.hlist.inline dl,
.hlist.inline ol,
.hlist.inline ul,
.hlist dl dl, .hlist dl ol, .hlist dl ul,
.hlist ol dl, .hlist ol ol, .hlist ol ul,
.hlist ul dl, .hlist ul ol, .hlist ul ul {
	display: inline;
}
/* Generate interpuncts */
.hlist dt:after {
    content: " :";
}
.hlist dd:after,
.hlist li:after {
    content: " · ";
    font-weight: bold;
}
.hlist dd:last-child:after,
.hlist dt:last-child:after,
.hlist li:last-child:after {
    content: none;
}

/* Add parens around nested lists */
.hlist dl dl:before,
.hlist ol ol:before,
.hlist ul ul:before {
    content: "（";
}
.hlist dl dl:after,
.hlist ol ol:after,
.hlist ul ul:after {
    content: "）";
}
/* Put numbers in ordered lists */
.hlist.hnum ol li {
    counter-increment: level1;
}
.hlist.hnum ol li:before {
    content: counter(level1) " ";
}
.hlist.hnum ol ol li {
    counter-increment: level2;
}
.hlist.hnum ol ol li:before {
    content: counter(level2) " ";
}

/* Unbulleted lists */
.plainlist ul {
    line-height: inherit;
    list-style: none none;
    margin: 0;
}
.plainlist ul li {
    margin-bottom: 0;
}

.same-bg { background: none }

/*

== 提示 ==

*/
/* Style for "notices" */
.notice {
    text-align: justify;
    margin: 1em;
    padding: 0.2em;
}

#disambig {
    border-top: 3px double #a2a9b1;
    border-bottom: 3px double #a2a9b1;
}

#spoiler {
    border-top: 2px solid #a2a9b1;
    border-bottom:2px solid #a2a9b1;
}

/*
== 未归类 ==

*/

/* Infobox template style */

.infobox {
   border: 1px solid #a2a9b1;
   background-color: #f8f9fa;
   color: black;
   margin-bottom: 0.5em;
   margin-left: 1em;
   padding: 0.2em;
   float: right;
   clear: right;
}
.infobox td,
.infobox th {
   vertical-align: top;
}
.infobox caption {
   font-size: larger;
}
.infobox.bordered {
   border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
   border: 1px solid #a2a9b1;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
   border: 0;
}

.infobox.sisterproject {
   width: 20em;
   font-size: 90%;
}
 
/* styles for bordered infobox with merged rows */
.infobox.bordered .mergedtoprow td,
.infobox.bordered .mergedtoprow th {
   border: 0;
   border-top: 1px solid #a2a9b1;
   border-right: 1px solid #a2a9b1;
}
 
.infobox.bordered .mergedrow td,
.infobox.bordered .mergedrow th {
   border: 0;
   border-right: 1px solid #a2a9b1;
}
 
 
/* styles for geography infoboxes, e.g. countries, country subdivisions, cities, etc. */
 
.infobox.geography {
   text-align: left;
   border-collapse: collapse;
   line-height: 1.2em; 
   font-size: 90%;
}
 
.infobox.geography  td,
.infobox.geography  th {
   border-top: solid 1px #a2a9b1;
   padding: 0.4em 0.6em 0.4em 0.6em;
}
.infobox.geography .mergedtoprow td,
.infobox.geography .mergedtoprow th {
   border-top: solid 1px #a2a9b1;
   padding: 0.4em 0.6em 0.2em 0.6em;
}
 
.infobox.geography .mergedrow td,
.infobox.geography .mergedrow th {
      border: 0;
      padding: 0 0.6em 0.2em 0.6em;
}
 
.infobox.geography .mergedbottomrow td,
.infobox.geography .mergedbottomrow th {
   border-top: 0;
   border-bottom: solid 1px #a2a9b1;
   padding: 0 0.6em 0.4em 0.6em;
}
 
.infobox.geography .maptable td,
.infobox.geography .maptable th {
      border: 0;
      padding: 0;
}

/* class hiddenStructure is defunct. See [[Wikipedia:hiddenStructure]] */
.hiddenStructure {
    display: inline ! important;
    color: #f00; 
    background-color: #0f0;
}

/* Removes underlines from certain links */
.nounderlines a {
    text-decoration: none !important;
}

/* Custom link colors for use in [[MediaWiki:Edittools]] */
.charboxblack a:link, .charboxblack a:hover, .charboxblack a:visited, .charboxblack a:active { color: black; }
.charboxsilver a:link, .charboxsilver a:hover, .charboxsilver a:visited, .charboxsilver a:active { color: silver; }
.charboxgray a:link, .charboxgray a:hover, .charboxgray a:visited, .charboxgray a:active { color: gray; }
.charboxwhite a:link, .charboxwhite a:hover, .charboxwhite a:visited, .charboxwhite a:active { color: white; }
.charboxmaroon a:link, .charboxmaroon a:hover, .charboxmaroon a:visited, .charboxmaroon a:active { color: maroon; }
.charboxred a:link, .charboxred a:hover, .charboxred a:visited, .charboxred a:active { color: red; }
.charboxpurple a:link, .charboxpurple a:hover, .charboxpurple a:visited, .charboxpurple a:active { color: purple; }
.charboxfuchsia a:link, .charboxfuchsia a:hover, .charboxfuchsia a:visited, .charboxfuchsia a:active { color: fuchsia; }

.charboxgreen a:link, .charboxgreen a:hover, .charboxgreen a:visited, .charboxgreen a:active { color: green; }
.charboxlime a:link, .charboxlime a:hover, .charboxlime a:visited, .charboxlime a:active { color: lime; }
.charboxolive a:link, .charboxolive a:hover, .charboxolive a:visited, .charboxolive a:active { color: olive; }
.charboxyellow a:link, .charboxyellow a:hover, .charboxyellow a:visited, .charboxyellow a:active { color: yellow; }

.charboxnavy a:link, .charboxnavy a:hover, .charboxnavy a:visited, .charboxnavy a:active { color: navy; }
.charboxblue a:link, .charboxblue a:hover, .charboxblue a:visited, .charboxblue a:active { color: blue; }
.charboxteal a:link, .charboxteal a:hover, .charboxteal a:visited, .charboxteal a:active { color: teal; }
.charboxaqua a:link, .charboxaqua a:hover, .charboxaqua a:visited, .charboxaqua a:active { color: aqua; }

/*

== 未归类 ==

*/

/* Class styles */

/* Special characters list below edit window works better without underlining */
#editpage-specialchars a { text-decoration: none; }
#editpage-specialchars a:hover { text-decoration: underline; }

/* If you don't want to see special characters list at all,
   put the following line in your User:You/monobook.css file
  (and remove the slash-asterisk comments) */
/* #editpage-specialchars { display: none; } */

/* Hatnotes and disambiguation notices */
.hatnote {
    /* @noflip */
    font-size: small;
}
.hatnote i {
    font-style: normal;
}

div.hatnote {
	/* @noflip */
	padding-left: 2em;
	margin-bottom: 0.8em; /* 小于1.2可能会导致错行问题*/
	margin-top: 0.8em;
    /* background: url(//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Disambig_gray.svg/26px-Disambig_gray.svg.png) no-repeat;*/
}
div.hatnote + div.hatnote {
	margin-top: -0.5em;
}

/*

== 未归类 ==


/* custom edits */
/* Default style for navigation boxes */
.navbox {                     /* Navbox container style */
    border: 1px solid #a2a9b1;
    width: 100%; 
    margin: auto;
    clear: both;
    font-size: 88%;
    text-align: center;
    padding: 1px;
}
.navbox-inner,
.navbox-subgroup {
    width: 100%;
}
.navbox th,
.navbox-title,
.navbox-abovebelow {
    text-align: center;       /* Title and above/below styles */
    padding-left: 1em;
    padding-right: 1em;
}
th.navbox-group {             /* Group style */
    white-space: nowrap;
    /* @noflip */
    text-align: right;
}
.navbox,
.navbox-subgroup {
    background: #fdfdfd;      /* Background color */
}
.navbox-list {
    border-color: #fdfdfd;    /* Must match background color */
}
.navbox th,
.navbox-title {
    background: #ccccff;      /* Level 1 color */
}
.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup .navbox-title {
    background: #ddddff;      /* Level 2 color */
}
.navbox-subgroup .navbox-group,
.navbox-subgroup .navbox-abovebelow {
    background: #e6e6ff;      /* Level 3 color */
}
.navbox-even {
    background: #f7f7f7;      /* Even row striping */
}
.navbox-odd {
    background: transparent;  /* Odd row striping */
}
table.navbox + table.navbox {  /* Single pixel border between adjacent navboxes */
    margin-top: -1px;          /* (doesn't work for IE6, but that's okay)       */
}
.navbox .hlist td dl,
.navbox .hlist td ol,
.navbox .hlist td ul,
.navbox td.hlist dl,
.navbox td.hlist ol,
.navbox td.hlist ul {
    padding: 0.125em 0;       /* Adjust hlist padding in navboxes */
}
.navbox .hlist dd,
.navbox .hlist dt,
.navbox .hlist li {
    white-space: nowrap;      /* Nowrap list items in navboxes */
}
.navbox .hlist dd dl,
.navbox .hlist dt dl,
.navbox .hlist li ol,
.navbox .hlist li ul {
    white-space: normal;      /* But allow parent list items to be wrapped */
}
ol + table.navbox,
ul + table.navbox {
    margin-top: 0.5em;        /* Prevent lists from clinging to navboxes */
}

/* Default styling for Navbar template */
.navbar {
    display: inline;
    font-weight: normal;
}
.navbar ul {
    display: inline;
    white-space: nowrap;
}
.navbar li {
    word-spacing: -0.125em;
}
.navbar.mini li abbr[title] {
    font-variant: small-caps;
    border-bottom: none;
    text-decoration: none;
    cursor: inherit;
}
/* Navbar styling when nested in navbox */
.navbox .navbar {
    display: block;
}
.navbox-title .navbar {
    /* @noflip */
    float: left;
    /* @noflip */
    text-align: left;
    /* @noflip */
    margin-right: 0.5em;
    width: 8em;
}

/* 'show'/'hide' buttons created dynamically by the CollapsibleTables javascript
   in [[MediaWiki:Common.js]] are styled here so they can be customised. */
.collapseButton {       
    /* @noflip */
    float: right;
    font-weight: normal;
    /* @noflip */
    margin-left: 0.5em;
    /* @noflip */
    text-align: right;
    width: auto;
}
/* In navboxes, the show/hide button balances the v·d·e links
   from [[Template:Navbar]], so they need to be the same width. */
.navbox .collapseButton {
    width: 8em;
}

/* For display uneditable section */
.noedit .editsection, .noedit .mw-editsection
{
	display: none;
}

.DYKvote h2, .DYKvote h3, .DYKvote h4
{
	margin-top: 2em;
}
/* 
== for some templates ==

Messagebox templates
*/
.messagebox {
   border: 1px solid #a2a9b1;
   background-color: #f8f9fa;
   width: 80%;
   margin: 0 auto 1em auto;
   padding: .2em;
   display: inherit; /* 臨時抑制 https://phabricator.wikimedia.org/T232553 及 https://gerrit.wikimedia.org/r/535738 的修改 */
}
.messagebox.merge {
   border: 1px solid #c0b8cc;
   background-color: #f0e5ff;
   text-align: center;
}
.messagebox.cleanup {
   border: 1px solid #9f9fff;
   background-color: #efefff;
   text-align: center;
}
.messagebox.standard-talk {
   border: 1px solid #c0c090;
   background-color: #f8eaba;
}
.messagebox.nested-talk {
   border: 1px solid #c0c090;
   background-color: #f8eaba;
   width: 100%;
   margin: 2px 4px 2px 4px;
}
.messagebox.small {
   width: 238px;
   font-size: 85%;
   float: right;
   clear: both;
   margin: 0 0 1em 1em;
   line-height: 1.25em; 
}
.messagebox.small-talk {
  width: 238px;
  font-size: 85%;
  float: right;
  clear: both;
  margin: 0 0 1em 1em;
  line-height: 1.25em; 
  background: #f8f9fa;
}
/* For template documentation */
.template-documentation {
    clear: both;
    margin: 1em 0 0 0;
    border: 1px solid #a2a9b1; 
    background-color: #ecfcf4; 
    padding: 5px;
}

/*
== external link ==

 Change the external link icon to an Adobe icon for all PDF files 
 (in browsers that support these CSS selectors, like Mozilla and Opera)

 */
#bodyContent a[href$=".pdf"].external, 
#bodyContent a[href*=".pdf?"].external, 
#bodyContent a[href*=".pdf#"].external,
#bodyContent a[href$=".PDF"].external, 
#bodyContent a[href*=".PDF?"].external, 
#bodyContent a[href*=".PDF#"].external {
    background: url(//upload.wikimedia.org/wikipedia/commons/2/23/Icons-mini-file_acrobat.gif) center right no-repeat;
    padding-right: 16px;
}

/*
== other ==
*/
span.lanLabel {
    color: #72777d;
    padding-left: 0.5em;
}

tt span.minor {
    margin: 0 -2px 0 -3px;
    font-size: 12px;
}
tt span.newpage {
    margin: 0 1px 0 -6px;
    font-size: 12px;
}
tt span.bot {
    margin: 0 -6px 0 1px;
    font-size: 12px;
}
/*tt span.unpatrolled*/

/* 用于封禁类模板，如Template:Uw-block1 */
div.user-block {
    padding: 5px;
    border: 1px solid #a2a9b1;
    background-color: #FFEFD5;
}

/* For linked citation numbers and document IDs, where the number need not be shown on a screen or a handheld, but should be included in the printed version */
 
@media screen, handheld, projection {
    cite *.printonly {
        display: none;
    }
}

/*
== MetaBox ==

*/

/*HERE FINISHES "METABOX" COLOUR-SCHEMES*/

/********************
**Styles for mboxes**
********************/
/* Cell sizes for ambox/tmbox/imbox/cmbox/ombox/fmbox/dmbox message boxes */
th.mbox-text, td.mbox-text {     /* The message body cell(s) */
    border: none; 
    padding: 0.25em 0.9em;       /* 0.9em left/right */
    width: 100%;    /* Make all mboxes the same width regardless of text length */
}
td.mbox-image {                  /* The left image cell */
    border: none; 
    padding: 2px 0 2px 0.9em;    /* 0.9em left, 0px right */
    text-align: center; 
}
td.mbox-imageright {             /* The right image cell */
    border: none;
    padding: 2px 0.9em 2px 0;    /* 0px left, 0.9em right */
    text-align: center; 
}
td.mbox-empty-cell {         /* An empty narrow cell */
    border: none;
    padding: 0px;
    width: 1px;
}
 
/* Article message box styles */
table.ambox {
    margin: 0px 10%;   /* 10% = Will not overlap with other elements */
    border: 1px solid #a2a9b1; 
    border-left: 10px solid #36c;    /* Default "notice" blue */
    background: #f8f9fa; 
}
table.ambox + table.ambox {   /* Single border between stacked boxes. */
    margin-top: -1px;
}
.ambox th.mbox-text, 
.ambox td.mbox-text {            /* The message body cell(s) */
    padding: 0.25em 0.5em;       /* 0.5em left/right */
}
.ambox td.mbox-image {           /* The left image cell */
    padding: 2px 0 2px 0.5em;    /* 0.5em left, 0px right */
}
.ambox td.mbox-imageright {      /* The right image cell */
    padding: 2px 0.5em 2px 0;    /* 0px left, 0.5em right */
}
 
table.ambox-notice {
    border-left: 10px solid #36c;    /* Blue */
}
table.ambox-speedy {
    border-left: 10px solid #b32424;    /* Red */
    background: #fee7e6;                   /* Pink */
}
table.ambox-delete {
    border-left: 10px solid #b32424;    /* Red */
}
table.ambox-content {
    border-left: 10px solid #f28500;    /* Orange */
}
table.ambox-style {
    border-left: 10px solid #fc3;    /* Yellow */
}
table.ambox-move {
    border-left: 10px solid #9932cc;    /* Purple */
}
table.ambox-protection {
    border-left: 10px solid #a2a9b1;       /* Gray-gold */
}
 
/* Image message box styles */
table.imbox {
    margin: 4px 10%; 
    border-collapse: collapse; 
    border: 3px solid #36c;    /* Default "notice" blue */
    background: #f8f9fa;
}
.imbox .mbox-text .imbox {    /* For imboxes inside imbox-text cells. */
    margin: 0 -0.5em;    /* 0.9 - 0.5 = 0.4em left/right. */
}
.mbox-inside .imbox {    /* For imboxes inside other templates. */
    margin: 4px;
}
 
table.imbox-notice {
    border: 3px solid #36c;    /* Blue */
}
table.imbox-speedy {
    border: 3px solid #b32424;    /* Red */
    background: #fee7e6;             /* Pink */
}
table.imbox-delete {
    border: 3px solid #b32424;    /* Red */
}
table.imbox-content {
    border: 3px solid #f28500;    /* Orange */
}
table.imbox-style {
    border: 3px solid #fc3;    /* Yellow */
}
table.imbox-move {
    border: 3px solid #9932cc;    /* Purple */
}
table.imbox-protection {
    border: 3px solid #a2a9b1;       /* Gray-gold */
}
table.imbox-license {
    border: 3px solid #88a;       /* Dark gray */
    background: #f7f8ff;          /* Light gray */
}
table.imbox-featured {
    border: 3px solid #cba135;    /* Brown-gold */
}
 
/* Category message box styles */
table.cmbox {
    margin: 3px 10%;
    border-collapse: collapse;
    border: 1px solid #a2a9b1; 
    background: #eaf3ff;    /* Default "notice" blue */
}
 
table.cmbox-notice {
    background: #eaf3ff;    /* Blue */
}
table.cmbox-speedy {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 4px solid #b32424;    /* Red */
    background: #fee7e6;          /* Pink */
}
table.cmbox-delete {
    background: #fee7e6;    /* Red */
}
table.cmbox-content {
    background: #FFE7CE;    /* Orange */
}
table.cmbox-style {
    background: #FFF9DB;    /* Yellow */
}
table.cmbox-move {
    background: #E4D8FF;    /* Purple */
}
table.cmbox-protection {
    background: #EFEFE1;    /* Gray-gold */
}
 
/* Other pages message box styles */
table.ombox {
    margin: 4px 10%; 
    border-collapse: collapse; 
    border: 1px solid #a2a9b1;       /* Default "notice" gray */
    background: #f8f9fa;
}
 
table.ombox-notice {
    border: 1px solid #a2a9b1;       /* Gray */
}
table.ombox-speedy {
    border: 2px solid #b32424;    /* Red */
    background: #fee7e6;             /* Pink */
}
table.ombox-delete {
    border: 2px solid #b32424;    /* Red */
}
table.ombox-content {
    border: 1px solid #f28500;    /* Orange */
}
table.ombox-style {
    border: 1px solid #fc3;    /* Yellow */
}
table.ombox-move {
    border: 1px solid #9932cc;    /* Purple */
}
table.ombox-protection {
    border: 2px solid #a2a9b1;       /* Gray-gold */
}
 
/* Talk page message box styles */
table.tmbox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 1px solid #c0c090;    /* Default "notice" gray-brown */
    background: #f8eaba;
}
.mediawiki .mbox-inside .tmbox { /* For tmboxes inside other templates. The "mediawiki" */
    margin: 2px 0;               /* class ensures that this declaration overrides other */
    width: 100%;  /* For Safari and Opera */     /* styles (including mbox-small above) */
}
.mbox-inside .tmbox.mbox-small { /* "small" tmboxes should not be small when  */
    line-height: 1.5em;          /* also "nested", so reset styles that are   */   
    font-size: 100%;             /* set in "mbox-small" above.                */
}
 
table.tmbox-speedy {
    border: 2px solid #b32424;    /* Red */
    background: #fee7e6;             /* Pink */
}
table.tmbox-delete {
    border: 2px solid #b32424;    /* Red */
}
table.tmbox-content {
    border: 2px solid #f28500;    /* Orange */
}
table.tmbox-style {
    border: 2px solid #fc3;    /* Yellow */
}
table.tmbox-move {
    border: 2px solid #9932cc;    /* Purple */
}
table.tmbox-protection,
table.tmbox-notice {
    border: 1px solid #c0c090;    /* Gray-brown */
}
 
/* Disambig and set index box styles */
table.dmbox {
    clear: both; 
    margin: 0.9em 1em; 
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    background: transparent;
    font-size: small;
}
 
/* Footer and header message box styles */
table.fmbox {
    clear: both;
    margin: 0.2em 0;
    width: 100%;
    border: 1px solid #a2a9b1;
    background: #f8f9fa;     /* Default "system" gray */
}
table.fmbox-system {
    background: #f8f9fa;
}
table.fmbox-warning {
    border: 1px solid #bb7070;  /* Dark pink */
    background: #ffdbdb;        /* Pink */
}
table.fmbox-editnotice {
    background: transparent;
}
/* Div based "warning" style fmbox messages. */
div.mw-warning-with-logexcerpt,
div.mw-lag-warn-high,
div.mw-cascadeprotectedwarning,
#mw-protect-cascadeon {
    clear: both;
    margin: 0.2em 0;
    border: 1px solid #bb7070;
    background: #ffdbdb;
    padding: 0.25em 0.9em;
}
/* Div based "system" style fmbox messages. Used in 
   [[MediaWiki:Noarticletext]]. */
div.noarticletext,
div.fmbox-system {
    clear: both;
    margin: 0.2em 0;
    border: 1px solid #a2a9b1;
    background: #f8f9fa;
    padding: 0.25em 0.9em;
}
 
/* These mbox-small classes must be placed after all other 
   ambox/tmbox/ombox etc classes. "body.mediawiki" is so 
   they override "table.ambox + table.ambox" above. */
body.mediawiki table.mbox-small {   /* For the "small=yes" option. */
    clear: right;
    float: right;
    margin: 4px 0 4px 1em;
    width: 238px;
    font-size: 88%;
    line-height: 1.25em;
}
body.mediawiki table.mbox-small-left {   /* For the "small=left" option. */
    margin: 4px 1em 4px 0;
    width: 238px;
    border-collapse: collapse;
    font-size: 88%;
    line-height: 1.25em;
}

/* CODE FOR COMPACT AMBOX */

/* Remove borders, backgrounds, padding, etc. */
.compact-ambox table.ambox {
    border: none;
    border-collapse: collapse;
    background: transparent;
    margin: 0 0 0 1.6em !important;
    padding: 0 !important;
    width: auto;
    display: block;
}
body.mediawiki .compact-ambox table.mbox-small-left {
    font-size: 100%;
    width: auto;
    margin: 0;
}
/* Style the text cell as a list item and remove its padding */
.compact-ambox table .mbox-text {
    padding: 0 !important;
    margin: 0 !important;
}
.compact-ambox table .mbox-text-span {
    display: list-item;
    line-height: 1.5em;
    list-style-type: square;
    list-style-image: url(data:image/gif;base64,R0lGODlhBQANAIAAAGOMnP///yH5BAEAAAEALAAAAAAFAA0AAAIJjI+pu+APo4SpADs=);
}
/* Style for compact ambox */
/* Hide the images */
.compact-ambox table .mbox-image,
.compact-ambox table .mbox-imageright,
.compact-ambox table .mbox-empty-cell {
	display: none;
}

#siteNotice div {
	margin: 0;
}
#mw-dismissable-notice {
	background:transparent;
}

#wpSummary, #wpSummaryLabel, input#wpSummary,input.mw-summary{
        margin-top: 0;
	margin-bottom: 0;
}

/* 解决cite定位内文字显示为斜体的问题 */
cite {
    font-style: normal;
}

body:not(.skin-vector-search-vue) .mw-body>.firstHeading:lang(zh-hans):before, body:not(.skin-vector-search-vue) .mw-body>.firstHeading:lang(zh-cn):before, body:not(.skin-vector-search-vue) .mw-body>.firstHeading:lang(zh-my):before, body:not(.skin-vector-search-vue) .mw-body>.firstHeading:lang(zh-sg):before {
    content: url(/static/images/mobile/copyright/wikipedia-wordmark-zh-hans.svg);
}

/* Pie chart test: Transparent borders */
.transborder {
    border: solid transparent;
}
* html .transborder {  /* IE6 */
    border: solid #000001;
    filter: chroma(color=#000001);
}

/* http://zh.wikipedia.org/w/index.php?oldid=18291698#.E7.BB.B4.E5.9F.BA.E8.8D.A3.E8.AA.89.E5.A5.96.E5.8A.B1.E6.A8.A1.E6.9D.BF.E5.87.BA.E4.BA.86.E5.A4.A7.E9.97.AE.E9.A2.98 */
.ns-14 .mw-content-ltr > div[dir=ltr] {
    clear: both;
}

/* [[template:fact]]的文字背景色设置 */
.template-facttext{
    background-color: #eaecf0; margin: -.3em 0; padding: .3em 0;
}

/* Hide stuff meant for accounts with special permissions. Made visible again in
   [[MediaWiki:Group-sysop.css]], [[MediaWiki:Group-patroller.css]],
   [[MediaWiki:Group-templateeditor.css]], [[MediaWiki:Group-extendedconfirmed.css]],
   [[Mediawiki:Group-autoconfirmed.css]], and [[MediaWiki:Group-user.css]]. */
.sysop-show,
.patroller-show,
.templateeditor-show,
.extendedconfirmed-show,
.autoconfirmed-show,
.user-show {
	display: none;
}


/*编辑提交按钮部分的样式*/

.mw-summary-preset {
    display: inline;
    margin: 0;
    padding: 0;
}
.mw-summary-preset-item {
    border-left: 1px solid #a2a9b1;
    display: inline-block;
    line-height: 1.25em;
    margin: 0.125em 0;
    padding: 0 0.5em;
}
.mw-summary-preset-item:first-child {
    border-left: medium none;
    padding-left: 0.25em;
}
.mw-summary-preset-item:last-child {
    padding-right: 0.25em;
}

#pagehistory li.not-patrolled {
    background-color: #FFA !important;
}

/* HACK to workaround VE and badly written CGroups */
.noteTA {
    display: none;
}

/* 页底文字太小 */
#footer ul li{
	font-size:small;	
}

/* 解决small标签中文字体太小 */
small{
	font-size:.857em;	
}
big{
	font-size:1.143em;	
}

/* 存废讨论旧样式 */
body.ns-4.action-view[class*=" page-Wikipedia_頁面存廢討論_"] .mw-parser-output h2,
body.ns-4.action-view[class*=" page-Wikipedia_檔案存廢討論_"] .mw-parser-output h2,
body.ns-4.action-submit[class*=" page-Wikipedia_頁面存廢討論_"] .mw-parser-output h2,
body.ns-4.action-submit[class*=" page-Wikipedia_檔案存廢討論_"] .mw-parser-output h2 {
	border-bottom: none;
	font-size: 132%;
	margin-bottom: .3em;
}
body.ns-4.action-view[class*=" page-Wikipedia_頁面存廢討論_"] .mw-parser-output h3,
body.ns-4.action-view[class*=" page-Wikipedia_檔案存廢討論_"] .mw-parser-output h3,
body.ns-4.action-submit[class*=" page-Wikipedia_頁面存廢討論_"] .mw-parser-output h3,
body.ns-4.action-submit[class*=" page-Wikipedia_檔案存廢討論_"] .mw-parser-output h3 {
	font-size: 116%;
	margin-bottom: .3em;
}

/* For portals, added 2011-12-07 -bv
   On wide screens, show these as two columns
   On narrow and mobile screens, let them collapse into a single column */
.portal-column-left {
    float: left;
    width: 50%;
}
.portal-column-right {
    float: right;
    width: 49%;
}
.portal-column-left-wide {
    float: left;
    width: 60%;
}
.portal-column-right-narrow {
    float: right;
    width: 39%;
}
.portal-column-left-extra-wide {
    float: left;
    width: 70%;
}
.portal-column-right-extra-narrow {
    float: right;
    width: 29%;
}
@media only screen and (max-width: 800px) {
    /* Decouple the columns on narrow screens */
    .portal-column-left,
    .portal-column-right,
    .portal-column-left-wide,
    .portal-column-right-narrow,
    .portal-column-left-extra-wide,
    .portal-column-right-extra-narrow {
        float: inherit;
        width: inherit;
    }
}

#mw-content-text:lang(zh-Hans) .zhwiki-lang-zh-hant,
#mw-content-text:lang(zh-CN) .zhwiki-lang-zh-hant,
#mw-content-text:lang(zh-MY) .zhwiki-lang-zh-hant,
#mw-content-text:lang(zh-SG) .zhwiki-lang-zh-hant {
    display: none;
}
#mw-content-text:lang(zh-Hant) .zhwiki-lang-zh-hans,
#mw-content-text:lang(zh-HK) .zhwiki-lang-zh-hans,
#mw-content-text:lang(zh-MO) .zhwiki-lang-zh-hans,
#mw-content-text:lang(zh-TW) .zhwiki-lang-zh-hans {
    display: none;
}

/* Main page fixes */
#interwiki-completelist {
	font-weight: bold;
}

/* MediaWiki:Tag-jimmy-bot-non-free */
.tag-jimmy-bot-non-free {
	color: red;
    font-size: 1.143em;
}

/* Normal font styling for wikitable row headers with scope="row" tag */
.wikitable.plainrowheaders th[scope=row] {
	font-weight: normal;
	/* @noflip */
	text-align: left;
}

/* mw-newarticletext */
.mw-newarticletext {
    padding: 0 2.5em;
    border: solid 1px #a2a9b1;
}
.mw-newarticletext .title {
    margin: 1em 0;
    padding: 0;
    color: #d33;
    font-size: 1.5em;
    border: none;
    text-align: center;
}
.mw-newarticletext li {
    margin: 0.4em 0;
}
.mw-newarticletext .buttons {
    margin: 1.5em 0;
    text-align: center;
}
.mw-newarticletext .buttons a {
    margin: 0.25em;
    display: inline-block;
}
.mw-newarticletext .note {
    color: #72777d;
    font-size: 87.5%;
}
/* mw-newarticletextanon */
.mw-newarticletextanon {
    padding: 0 2.5em;
    border: solid 1px #a2a9b1;
}
.mw-newarticletextanon .title {
    margin: 1em 0;
    padding: 0;
    color: #d33;
    font-size: 1.5em;
    border: none;
    text-align: center;
}
.mw-newarticletextanon li {
    margin: 0.4em 0;
}
.mw-newarticletextanon .buttons {
    margin: 1.5em 0;
    text-align: center;
}
.mw-newarticletextanon .buttons a {
    margin: 0.25em;
    display: inline-block;
}
.mw-newarticletextanon .note {
    color: #72777d;
    font-size: 87.5%;
}

/* 隱藏「編輯已選擇修訂的標籤」按鈕，參閱[[Special:日志/tag]]幾乎全是破壞，一堆使用者不懂該功能亂按，並造成**無法復原**的後果 */
.mw-history-editchangetags-button {
	display: none;
}
.mw-log-editchangetags-button {
	display: none;
}

/* 代码中间不换行 */
pre, .mw-code, .mw-highlight {
    line-break: anywhere;
    white-space: pre-wrap;
    word-break: break-all;
}

/* Styling the parameter fields in [[Template:Information]] and related templates
   also here (besides on [[MediaWiki:Filepage.css]]) to ensure proper preview
   on other pages than those in the file namespace */
.fileinfo-paramfield {
    background: #ccf;
    /* @noflip */
    text-align: right;
    /* @noflip */
    padding-right: 0.4em;
    width: 15%;
    font-weight: bold;
}

/* 由於有些使用者不了解此功能，所以我個人決定將其設定為opt-in功能 by Xiplus */
.mw-changeslist-src-mw-edit .unpatrolled {
	display: none; 
}
#mw-diff-ntitle4 .patrollink {
	display: none; 
}
/* RCP的wrapper是span，NPP的wrapper是div */
#mw-content-text span.patrollink {
	display: none;
}/*
MediaWiki:Vector.css
*/
/* 此处的CSS将影响使用Vector皮肤的用户 */

/* T310533 */
.mw-first-heading {
	border-bottom-color: #a2a9b1 !important;
}

.action-view.page-Wikipedia_首页 #contentSub, .action-view.page-Wikipedia_首页 #siteSub, .action-view.page-Wikipedia_首页 .firstHeading, .page-Wikipedia_首页 #deleteconfirm, .page-Wikipedia_首页 #footer-info-lastmod, .page-Wikipedia_首页 #t-cite {
    display: none !important;
}

.page-Wikipedia_首页 #jump-to-nav {
    margin: 0 !important;
}

/* {{tl|Link FA}} */
#mw-panel div.portal div.body ul li.FA {
    margin-left: -10px;
    padding-left: 10px;
    background: url(//upload.wikimedia.org/wikipedia/commons/d/d4/Monobook-bullet-star.png) no-repeat 0% 0%;
}

/* {{tl|Link GA}} */
#mw-panel div.portal div.body ul li.GA {
    margin-left: -10px;
    padding-left: 10px;
    background: url(//upload.wikimedia.org/wikipedia/commons/4/42/Monobook-bullet-ga.png) no-repeat 0% 0%;
}

.badge-goodarticle {
    list-style-image: url(//upload.wikimedia.org/wikipedia/commons/4/42/Monobook-bullet-ga.png);
}

.badge-featuredarticle, .badge-featuredlist {
    list-style-image: url(//upload.wikimedia.org/wikipedia/commons/d/d4/Monobook-bullet-star.png);
}

/* 顯示 "維基百科，自由的百科全書" */
body.ns-0 #siteSub, body.ns-1 #siteSub {
    display: inline;
}

#siteNotice div.expanded table.siteNoticeUser {
    margin-bottom: 1em;
}
/* end of bugfixes */

/* Position coordinates */
#coordinates {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	text-align: right;
	text-indent: 0;
	font-size: 85%;
	text-transform: none;
	white-space: nowrap;
}

/* For the new main page design */
#mp-2012-banner {
    /* In default font size, #bodyContent has font-size: 0.8em. */
    /* See also: [[bugzilla:57401]] */
    margin: 0 -1.25em;
    margin: 0 -1rem !important;
}
body.vector-animateLayout #mp-2012-banner {
    -webkit-transition: margin-left 250ms, margin-right 250ms;
    -moz-transition: margin-left 250ms, margin-right 250ms;
    -o-transition: margin-left 250ms, margin-right 250ms;
    transition: margin-left 250ms, margin-right 250ms;
}
@media screen and (min-width: 982px) {
    #mp-2012-banner {
        margin: 0 -1.875em;
        margin: 0 -1.5rem !important;
    }
}

.selected-anniversary dl {
    list-style-type: disc;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAANAQMAAABb8jbLAAAABlBMVEX///8AUow5QSOjAAAAAXRSTlMAQObYZgAAABNJREFUCB1jYEABBQw/wLCAgQEAGpIDyT0IVcsAAAAASUVORK5CYII=);
}

/* [[Special:Diff/19476960/65547206]] */
.oo-ui-textInputWidget input {
    height: revert;
}

.hlist dl {
    line-height: 1.5em;
}@media print {
	/*
	MediaWiki:Print.css
	*/
	/* <nowiki> */
	/* 标题与内容字体互换，优化纸张打印效果*/
	html, body {
		font-family: serif;
	}
	.mw-body h1, .mw-body h2, .mw-body h3, .mw-body h4, .mw-body h5, .mw-body h6 {
	    font-family: sans-serif;
	}
	
	.inline-unihan {
	    border-bottom: none !important;
	}
	
	/* Do not print:
	   1: When in mainspace: Article message boxes,
	      navboxes, sister project boxes, disambig links,
	      and items marked as metadata.
	   2: Privacy, about, disclaimer, redirect and section edit links.
	   3: Show/hide toggles for collapsible items.
	   4: Items marked as noprint.
	*/
	
	.ns-0 .ambox, 
	.ns-0 .navbox, 
	.ns-0 .vertical-navbox, 
	.ns-0 .infobox.sisterproject, 
	.ns-0 .hatnote,
	.ns--1 .hatnote,
	.ns--1 .dablink,
	.ns-0 .dablink, 
	.ns-0 .metadata,
	.ns-0 .mbox-small,
	.editlink,
	.navbar,
	a.NavToggle, span.collapseButton, span.mw-collapsible-toggle,
	.ns-0 .mw-indicators,
	.ns-0 .mw-cite-backlink,
	.ns-0 .stub,
	#filetoc,
	#footer-places,
	#privacy, #about, #disclaimer,
	#catlinks,
	span#coordinates,
	span.toctoggle,
	th .sortkey, td .sortkey
	.noprint {
	    display: none !important;
	}
	 
	/* Add formatting to make sure that "external references" from templates
	   like [[Template:Ref]] do not get URL expansion, not even when printed.
	   The anchor itself has class "external autonumber" and the url expansion
	   is inserted when printing (see the common printing style sheet at
	   http://en.wikipedia.org/w/skins/common/commonPrint.css) using the
	   ":after" pseudo-element of CSS. Also hide in <cite> elements.
	*/
	#content cite a.external.text:after,
	.nourlexpansion a.external.text:after,
	.nourlexpansion a.external.autonumber:after {
	    display: none !important;
	}
	 
	/* Uncollapse collapsible tables/divs.
	   The proper way to do this for tables is to use display:table-row,
	   but this is not supported by all browsers, so use display:block as fallback.
	*/
	table.collapsible tr, div.NavPic, div.NavContent {
	    display: block !important;
	}
	table.collapsible tr {
	    display: table-row !important;
	}
	 
	/* Hiding some items when printing with Simple skin */
	.skin-simple div#column-one,
	.skin-simple div#f-poweredbyico,
	.skin-simple div#f-copyrightico,
	.skin-simple .editsection { 
	    display: none; 
	}
	
	/* Restoring font size */
	/* #bodyContent {
	    font-size: 100% !important;
	} */
	@import "/w/index.php?title=MediaWiki:Gadget-fontsize.css&action=raw&ctype=text/css";
	
	/* Hide [show]/[hide] links */
	.NavToggle {
	    display: none !important;
	}
	
	/* On websites with siteSub visible, the margin on the firstHeading is not needed. */
	#firstHeading {
	    margin: 0;
	}
	
	/* 消除{{fact}}的文字背景颜色 */
	mark.template-facttext{
	    background-color:transparent;
	}
	
	/* We don't want very long URLs (that are added to the content in print) to widen the canvas */
	#content a.external.text:after,
	#content a.external.autonumber:after {
		word-wrap: break-word;
	}
	
	/*避免分页断行*/
	
	blockquote,table,pre,.toc{
		page-break-inside:avoid;
	}
	.toc{
		box-decoration-break: clone;
	}
	
	/*
	- Basic infobox styling
	- Remove background colors, they are hard to print
	*/
	.infobox {
		border: solid 1px #aaa;
		background-color: #fff;
		border-spacing: 0;
		border-collapse: collapse;
		width: 180pt !important; /*T174957*/
	}
	
	.infobox > * > tr > td,
	.infobox > * > tr > th {
		padding: 2px 5px;
		border-bottom: 1px solid #EAECF0;		
	}
	
	/* Reduce noise for print medium - labels may be links */
	.infobox a,
	/* reset last border (set above) of infobox */
	.infobox > * > tr:last-child > th,
	.infobox > * > tr:last-child > td {
		border: 0;
	}
	
	/* References */
	.refbegin a,
	.references a,
	.reference a {
		color: black !important;
	}
	
	.printfooter {
		clear:both;
	}
	
	/* </nowiki> */}
/* stylelint-disable selector-class-pattern */
/* Galleries */
/* Don't forget to update gallery.print.css */
ul.gallery.gallery.gallery {
  margin: 2px;
  padding: 2px;
  display: block;
}
li.gallerycaption {
  font-weight: bold;
  text-align: center;
  display: block;
  word-wrap: break-word;
}
li.gallerybox {
  vertical-align: top;
  display: inline-block;
}
li.gallerybox div.thumb {
  text-align: center;
  margin: 2px;
}
li.gallerybox div.thumb img {
  display: block;
  margin: 0 auto;
}
div.gallerytext {
  overflow: hidden;
  font-size: 94%;
  padding: 2px 4px;
  word-wrap: break-word;
}
.galleryfilename {
  display: block;
}
.galleryfilename-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* new gallery stuff */
ul.mw-gallery-nolines li.gallerybox div.thumb {
  background-color: transparent;
  border: 0;
}
ul.mw-gallery-nolines li.gallerybox div.gallerytext {
  text-align: center;
}
/* height constrained gallery */
ul.mw-gallery-packed,
ul.mw-gallery-packed-overlay,
ul.mw-gallery-packed-hover {
  text-align: center;
}
ul.mw-gallery-packed li.gallerybox div.thumb,
ul.mw-gallery-packed-overlay li.gallerybox div.thumb,
ul.mw-gallery-packed-hover li.gallerybox div.thumb {
  background-color: transparent;
  border: 0;
}
ul.mw-gallery-packed li.gallerybox div.thumb img,
ul.mw-gallery-packed-overlay li.gallerybox div.thumb img,
ul.mw-gallery-packed-hover li.gallerybox div.thumb img {
  margin: 0 auto;
}
ul.mw-gallery-packed-hover li.gallerybox,
ul.mw-gallery-packed-overlay li.gallerybox {
  position: relative;
}
ul.mw-gallery-packed-hover div.gallerytextwrapper {
  overflow: hidden;
  height: 0;
}
ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper {
  position: absolute;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  bottom: 0;
  left: 0;
  /* Needed for IE */
  height: auto;
  max-height: 40%;
  overflow: hidden;
  font-weight: bold;
  margin: 2px;
  /* correspond to style on div.thumb */
}
ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper p,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper p,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper:hover,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper:hover,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper:hover {
  overflow: visible;
  max-height: none;
}
ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper:hover p,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper:hover p,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper:hover p {
  text-overflow: clip;
  white-space: normal;
  overflow: visible;
}
/* Slideshow */
ul.gallery.gallery.gallery.mw-gallery-slideshow {
  display: block;
  margin: 4em 0;
}
.mw-gallery-slideshow {
  /* `li` item */
}
.mw-gallery-slideshow .gallerycaption {
  font-size: 1.3em;
  margin: 0;
}
.mw-gallery-slideshow .gallerycarousel {
  display: block;
  text-align: center;
}
.mw-gallery-slideshow .gallerycarousel.mw-gallery-slideshow-thumbnails-toggled {
  margin-bottom: 1.3em;
}
.mw-gallery-slideshow .mw-gallery-slideshow-buttons {
  opacity: 0.5;
  padding: 1.3em 0;
  white-space: nowrap;
}
.mw-gallery-slideshow .mw-gallery-slideshow-buttons .oo-ui-buttonElement {
  margin: 0 2em;
}
.mw-gallery-slideshow .mw-gallery-slideshow-buttons .oo-ui-buttonElement:first-child {
  margin-left: 0;
}
.mw-gallery-slideshow .mw-gallery-slideshow-buttons .oo-ui-buttonElement:last-child {
  margin-right: 0;
}
.mw-gallery-slideshow .gallerybox.slideshow-current {
  background: #efefef;
}
.mw-gallery-slideshow .gallerybox > div {
  max-width: 120px;
}
.mw-gallery-slideshow .gallerybox div.thumb {
  border: 0;
  background: transparent;
}
.mw-gallery-slideshow-img-container a {
  display: block;
}
@media screen {
  /* Background and border colors are defined separately for print mode */
  li.gallerybox div.thumb {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
  }
}@media print {
	/* stylelint-disable selector-class-pattern */
	li.gallerybox {
	  vertical-align: top;
	  display: inline-block;
	}
	li.gallerybox div.thumb {
	  background-color: #fff;
	  border: 1px solid #ccc;
	}
	ul.gallery.gallery.gallery {
	  margin: 2px;
	  padding: 2px;
	  display: block;
	}
	li.gallerycaption {
	  font-weight: bold;
	  text-align: center;
	  display: block;
	  word-wrap: break-word;
	}
	div.gallerytext {
	  overflow: visible;
	}
	ul.mw-gallery-packed-hover div.gallerytextwrapper {
	  overflow: visible;
	  height: auto;
	}
	ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper,
	ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper,
	ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper {
	  position: static;
	  background: transparent;
	  padding: 0;
	  max-height: none;
	  overflow: visible;
	  font-weight: normal;
	  margin: 0;
	  /* correspond to style on div.thumb */
	}
	ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper p,
	ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper p,
	ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper p {
	  text-overflow: clip;
	  white-space: normal;
	  overflow: visible;
	}}
/**
 * Style Parsoid HTML+RDFa output consistent with wikitext from PHP parser.
 */
/*
 * Auto-numbered external links
 * Parsoid renders those as link without content, and lets CSS do the
 * counting. This way the counting style can be customized, and counts update
 * automatically when content is modified.
 */
.mw-parser-output {
  counter-reset: mw-numbered-ext-link;
}
.mw-parser-output a[rel~='mw:ExtLink']:empty:after {
  content: '[' counter(mw-numbered-ext-link) ']';
  counter-increment: mw-numbered-ext-link;
}

/**
 * Block media items
 */
figure[typeof~='mw:File'],
figure[typeof~='mw:File/Frameless'] {
  margin: 0;
  /* Hide the caption for frameless and plain floated images */
}
.mw-body-content figure[typeof~='mw:File'] > a,
.mw-body-content figure[typeof~='mw:File/Frameless'] > a {
  border: 0;
}
figure[typeof~='mw:File'].mw-halign-right,
figure[typeof~='mw:File/Frameless'].mw-halign-right {
  /* @noflip */
  margin: 0 0 0.5em 0.5em;
  /* @noflip */
  clear: right;
  /* @noflip */
  float: right;
}
figure[typeof~='mw:File'].mw-halign-left,
figure[typeof~='mw:File/Frameless'].mw-halign-left {
  /* @noflip */
  margin: 0 0.5em 0.5em 0;
  /* @noflip */
  clear: left;
  /* @noflip */
  float: left;
}
figure[typeof~='mw:File'].mw-halign-none,
figure[typeof~='mw:File/Frameless'].mw-halign-none {
  clear: none;
  float: none;
}
figure[typeof~='mw:File'].mw-halign-center,
figure[typeof~='mw:File/Frameless'].mw-halign-center {
  /* Matches *.center * in element.css */
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
  clear: none;
  float: none;
}
figure[typeof~='mw:File'] > figcaption,
figure[typeof~='mw:File/Frameless'] > figcaption {
  display: none;
}
figure[typeof~='mw:File/Thumb'],
figure[typeof~='mw:File/Frame'] {
  margin: 0;
  margin-bottom: 0.5em;
  display: table;
  text-align: center;
  border-collapse: collapse;
  line-height: 0;
}
.mw-body-content figure[typeof~='mw:File/Thumb'] > a,
.mw-body-content figure[typeof~='mw:File/Frame'] > a {
  border: 0;
}
.mw-content-ltr figure[typeof~='mw:File/Thumb'],
.mw-content-ltr figure[typeof~='mw:File/Frame'] {
  /* @noflip */
  margin: 0.5em 0 1.3em 1.4em;
  /* @noflip */
  clear: right;
  /* @noflip */
  float: right;
}
.mw-content-rtl figure[typeof~='mw:File/Thumb'],
.mw-content-rtl figure[typeof~='mw:File/Frame'] {
  /* @noflip */
  margin: 0.5em 1.4em 1.3em 0;
  /* @noflip */
  clear: left;
  /* @noflip */
  float: left;
}
figure[typeof~='mw:File/Thumb'].mw-halign-right,
figure[typeof~='mw:File/Frame'].mw-halign-right {
  /* @noflip */
  margin: 0.5em 0 1.3em 1.4em;
  /* @noflip */
  clear: right;
  /* @noflip */
  float: right;
}
figure[typeof~='mw:File/Thumb'].mw-halign-left,
figure[typeof~='mw:File/Frame'].mw-halign-left {
  /* @noflip */
  margin: 0.5em 1.4em 1.3em 0;
  /* @noflip */
  clear: left;
  /* @noflip */
  float: left;
}
figure[typeof~='mw:File/Thumb'].mw-halign-none,
figure[typeof~='mw:File/Frame'].mw-halign-none {
  /* Override the default margin from mw-content-xxx above */
  margin: 0;
  margin-bottom: 0.5em;
  clear: none;
  float: none;
}
figure[typeof~='mw:File/Thumb'].mw-halign-center,
figure[typeof~='mw:File/Frame'].mw-halign-center {
  /* Override the default margin from mw-content-xxx above
		 * And, matches *.center * in element.css
		 */
  margin: 0 auto 0.5em auto;
  clear: none;
  float: none;
}
figure[typeof~='mw:File/Thumb'] > a:first-child,
figure[typeof~='mw:File/Frame'] > a:first-child,
figure[typeof~='mw:File/Thumb'] > span:first-child,
figure[typeof~='mw:File/Frame'] > span:first-child {
  /**
		 * Broken media get a span instead.
		 */
}
figure[typeof~='mw:File/Thumb'] > a:first-child > *:first-child,
figure[typeof~='mw:File/Frame'] > a:first-child > *:first-child,
figure[typeof~='mw:File/Thumb'] > span:first-child > *:first-child,
figure[typeof~='mw:File/Frame'] > span:first-child > *:first-child {
  margin: 3px;
}
figure[typeof~='mw:File/Thumb'] > a:first-child > span.mw-broken-media,
figure[typeof~='mw:File/Frame'] > a:first-child > span.mw-broken-media,
figure[typeof~='mw:File/Thumb'] > span:first-child > span.mw-broken-media,
figure[typeof~='mw:File/Frame'] > span:first-child > span.mw-broken-media {
  display: inline-block;
  line-height: 1.6em;
  /* The extra horizontal margin here is to make up for the lack of a border */
  margin: 3px 4px;
  /* This is hardcoded in Linker::makeThumbLink2 for broken media */
  width: 180px;
  /* Styles the text of broken media */
  font-size: 94%;
}
figure[typeof~='mw:File/Thumb'] > figcaption,
figure[typeof~='mw:File/Frame'] > figcaption {
  display: table-caption;
  caption-side: bottom;
  line-height: 1.4em;
  /**
		 * The "break-word" value is deprecated, however, it's well supported
		 * at 94.73%
		 * https://caniuse.com/mdn-css_properties_word-break_break-word
		 *
		 * The spec suggests it has the same effect as,
		 *
		 *   word-break: normal;
		 *   overflow-wrap: anywhere;
		 *
		 * https://drafts.csswg.org/css-text-3/#word-break-property
		 *
		 * So, we should use that.  However, support for "anywhere" is lagging
		 * at just 72.39%, with Safari being a notable miss.
		 * https://caniuse.com/mdn-css_properties_overflow-wrap_anywhere
		 *
		 * "Soft wrap opportunities introduced by the word break are considered
		 * when calculating min-content intrinsic sizes."
		 * From https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
		 */
  word-break: break-word;
  /* taken from .thumbcaption, plus .thumbinner */
  padding: 0 6px 6px 6px;
}
.mw-content-ltr figure[typeof~='mw:File/Thumb'] > figcaption,
.mw-content-ltr figure[typeof~='mw:File/Frame'] > figcaption {
  /* @noflip */
  text-align: left;
}
.mw-content-rtl figure[typeof~='mw:File/Thumb'] > figcaption,
.mw-content-rtl figure[typeof~='mw:File/Frame'] > figcaption {
  /* @noflip */
  text-align: right;
}
/**
 * Inline media items
 */
.mw-valign-middle > span:first-child > *:first-child,
.mw-valign-middle > a:first-child > *:first-child {
  vertical-align: middle;
}
.mw-valign-baseline > span:first-child > *:first-child,
.mw-valign-baseline > a:first-child > *:first-child {
  vertical-align: baseline;
}
.mw-valign-sub > span:first-child > *:first-child,
.mw-valign-sub > a:first-child > *:first-child {
  vertical-align: sub;
}
.mw-valign-super > span:first-child > *:first-child,
.mw-valign-super > a:first-child > *:first-child {
  vertical-align: super;
}
.mw-valign-top > span:first-child > *:first-child,
.mw-valign-top > a:first-child > *:first-child {
  vertical-align: top;
}
.mw-valign-text-top > span:first-child > *:first-child,
.mw-valign-text-top > a:first-child > *:first-child {
  vertical-align: text-top;
}
.mw-valign-bottom > span:first-child > *:first-child,
.mw-valign-bottom > a:first-child > *:first-child {
  vertical-align: bottom;
}
.mw-valign-text-bottom > span:first-child > *:first-child,
.mw-valign-text-bottom > a:first-child > *:first-child {
  vertical-align: text-bottom;
}

figure[typeof~='mw:File/Thumb'],
figure[typeof~='mw:File/Frame'] {
  border: 1px solid #c8ccd1;
  border-bottom: 0;
  background-color: #f8f9fa;
}
figure[typeof~='mw:File/Thumb'] > a:first-child > *:first-child:not( .mw-broken-media ),
figure[typeof~='mw:File/Frame'] > a:first-child > *:first-child:not( .mw-broken-media ),
figure[typeof~='mw:File/Thumb'] > span:first-child > *:first-child:not( .mw-broken-media ),
figure[typeof~='mw:File/Frame'] > span:first-child > *:first-child:not( .mw-broken-media ) {
  border: 1px solid #c8ccd1;
  background: #ffffff;
}
figure[typeof~='mw:File/Thumb'] > figcaption,
figure[typeof~='mw:File/Frame'] > figcaption {
  border: 1px solid #c8ccd1;
  border-top: 0;
  background-color: #f8f9fa;
  /* In mw-core the font-size is duplicated, 94% in thumbinner
		 * and again 94% in thumbcaption. 88.4% for font size of the
		 * caption results in the same behavior. */
  font-size: 88.4%;
}
.mw-image-border > a:first-child > *:first-child:not( .mw-broken-media ),
.mw-image-border > span:first-child > *:first-child:not( .mw-broken-media ) {
  border: 1px solid #eaecf0;
}
/* Magnify clip, not present for broken media */
figure[typeof~='mw:File/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before {
  content: '';
  width: 15px;
  height: 11px;
}
.mw-content-ltr figure[typeof~='mw:File/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before {
  /* @noflip */
  margin-left: 3px;
  /* @noflip */
  float: right;
}
.mw-content-rtl figure[typeof~='mw:File/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before {
  /* @noflip */
  margin-right: 3px;
  /* @noflip */
  float: left;
}
figure[typeof~='mw:File/Thumb']:not( [ typeof~='mw:Error' ] ) > a {
  display: block;
  position: relative;
}
figure[typeof~='mw:File/Thumb']:not( [ typeof~='mw:Error' ] ) > a.mw-file-description:after {
  content: '';
  width: 15px;
  height: 11px;
  position: absolute;
  bottom: -11px;
}
.mw-content-ltr figure[typeof~='mw:File/Thumb']:not( [ typeof~='mw:Error' ] ) > a.mw-file-description:after {
  /* @noflip */
  right: 6px;
  /* @noflip */
  background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e);
}
.mw-content-rtl figure[typeof~='mw:File/Thumb']:not( [ typeof~='mw:Error' ] ) > a.mw-file-description:after {
  /* @noflip */
  left: 6px;
  /* @noflip */
  background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-rtl.svg?38fd5);
}

/* stylelint-disable selector-class-pattern */
/**
 * Avoid the need to calculate paddings individually
 * https://stackoverflow.com/a/7310398
 */
.mw-gallery-traditional .gallerybox > .thumb:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
.mw-gallery-traditional .gallerybox > .thumb > * {
  vertical-align: middle;
  display: inline-block;
}
